n8n-workflow/LLM-Reduce.json
{
  "name": "LLM-Reduce via RAG Router",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "Start",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [240, 440]
    },
    {
      "parameters": {
        "url": "https://ai.intern/rag/router",
        "method": "POST",
        "jsonParameters": true,
        "options": {
          "timeout": 240000
        },
        "bodyParametersJson": "={\n  \"mode\": \"chat\",\n  \"target\": \"auto\",\n  \"system\": \"Du bist ein präziser Notulist.\",\n  \"prompt\": \"Konsolidiere die Teilsummen zu einer Gesamtsummary auf DEUTSCH:\\n1) TL;DR (max. 3 Sätze)\\n2) Entscheidungen\\n3) Aufgaben + Verantwortliche + Termine\\n4) Risiken\\n5) Offene Fragen\\n6) Wichtige Kennzahlen\\n\\nTeilsummen:\\n```\" + ($json.map_summaries || []).join('\\n\\n') + \"```\",\n  \"temperature\": 0.2,\n  \"max_tokens\": 800\n}"
      },
      "id": "HTTPReduce",
      "name": "HTTP → RAG Router (Reduce)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [460, 440]
    },
    {
      "parameters": {
        "functionCode": "/* Wrap final summary unter final_summary */\nconst router = $json || {};\nlet text = '';\nif (router.text) text = String(router.text);\nelse if (router.output) text = String(router.output);\nelse if (router.choices && router.choices[0] && router.choices[0].message && router.choices[0].message.content) text = String(router.choices[0].message.content);\nreturn [{ json: { final_summary: text } }];"
      },
      "id": "Wrap",
      "name": "Function • Wrap Summary",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [680, 440]
    }
  ],
  "connections": {
    "Start": { "main": [[{ "node": "HTTP → RAG Router (Reduce)", "type": "main", "index": 0 }]] },
    "HTTP → RAG Router (Reduce)": { "main": [[{ "node": "Function • Wrap Summary", "type": "main", "index": 0 }]] }
  }
}
