n8n-workflow/prompt-switch.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "llm",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "19b91971-984a-4602-b7a3-73bc3adc1188",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -976,
        -80
      ],
      "webhookId": "llm-router"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "816db0b7-19ca-4398-a0bb-c82f8d880e09",
              "name": "prompt",
              "value": "={{ $json.body.prompt || $json.prompt }}",
              "type": "string"
            },
            {
              "id": "2f19d467-4bc9-41ed-90c0-3d60b1d98c98",
              "name": "model",
              "value": "={{ $json.body.model || $json.model }}",
              "type": "string"
            },
            {
              "id": "86fd715e-31bc-4e68-9a7d-39d912f0eb57",
              "name": "openai_api_key",
              "value": "={{ $json.body.openai_api_key || $json.openai_api_key }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -816,
        -80
      ],
      "id": "53d25a33-77e5-4f6e-a1f0-a0e23881a804",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "openai-condition",
              "leftValue": "={{ $json.model }}",
              "rightValue": "openai",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c8c41ff5-0d8d-4ece-837e-e780cb3b9c66",
      "name": "Model Switch",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -576,
        -80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $json.openai_api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-3.5-turbo"
            },
            {
              "name": "messages",
              "value": [
                {
                  "role": "user",
                  "content": "={{ $json.prompt }}"
                }
              ]
            }
          ]
        },
        "options": {}
      },
      "id": "9b16468c-deee-4068-bc5c-728af4f8e0bd",
      "name": "Call OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -368,
        -176
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "UoTVV4HZD6kkivqi",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "mistral"
            },
            {
              "name": "prompt",
              "value": "={{ $json.prompt }}"
            },
            {
              "name": "stream",
              "value": false
            }
          ]
        },
        "options": {}
      },
      "id": "b99abca1-0c34-47a5-ba0d-c5b1c818df57",
      "name": "Call Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -368,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extrahiere die Antwort je nach API\nconst data = $input.first().json;\n\nlet result;\n\n// OpenAI Format prüfen\nif (data && data.choices && data.choices[0] && data.choices[0].message) {\n  result = data.choices[0].message.content;\n} \n// Ollama Format prüfen\nelse if (data && data.response) {\n  result = data.response;\n}\n// Ollama alternatives Format (manchmal ist es in 'message')\nelse if (data && data.message) {\n  result = data.message;\n}\n// Ollama streaming Format (manchmal 'content')\nelse if (data && data.content) {\n  result = data.content;\n}\n// Fallback - ganze Antwort als String\nelse {\n  result = JSON.stringify(data);\n}\n\nreturn {\n  result: result,\n  status: 'success',\n  raw_response: data\n};"
      },
      "id": "660a96ab-a63f-4b3b-aba7-657299a39548",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "f18b540a-5804-489a-95af-be77a3eef8eb",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        32,
        -80
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Model Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model Switch": {
      "main": [
        [
          {
            "node": "Call OpenAI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenAI": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Ollama": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b8e9c88c-988d-40a6-b4ed-311cae28c74e",
  "meta": {
    "instanceId": "30444c4554305610e68ba60c6b73ce53f99b718ba25dfadc743e41cecea4e148"
  },
  "id": "FeCWSJLLfuV4gxW4",
  "tags": []
}