n8n-workflow/prompting_wf.json
{
  "name": "Prompting",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "llm",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "19b91971-984a-4602-b7a3-73bc3adc1188",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1136,
        192
      ],
      "webhookId": "llm-router"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "openai-condition",
              "leftValue": "={{ $json.model }}",
              "rightValue": "openai",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9c58851a-c613-47a0-9dd1-b67e5cad930d",
      "name": "Is OpenAI?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -688,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "claude-condition",
              "leftValue": "={{ $json.model }}",
              "rightValue": "anthropic",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d6a9f88d-fdf6-48c5-a578-5d91b8b270b7",
      "name": "Is Claude?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -464,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "hf-condition",
              "leftValue": "={{ $json.model }}",
              "rightValue": "huggingface",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e723db1d-2125-4a7d-84c6-78ec04691bf6",
      "name": "Is HuggingFace?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -240,
        384
      ]
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "42a44192-9148-4ad9-af31-122e6881c374",
      "name": "Wait OpenAI",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -16,
        -96
      ],
      "webhookId": "22f29237-180d-4a34-8bb4-5e2e052ede89"
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "6bcba06a-0454-4540-8c51-ab5a660f9e2f",
      "name": "Wait Claude",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -16,
        96
      ],
      "webhookId": "a6066914-1a7e-4b8d-9119-0919bfd98496"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"claude-3-sonnet-20240229\",\n  \"max_tokens\": 1000,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.prompt }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "dace37fb-3be2-4b50-9108-3d3ff5a09c49",
      "name": "Call Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        208,
        96
      ]
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "id": "d6926c90-d8e3-4735-8b9a-cdd078fe30a7",
      "name": "Wait HF",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -16,
        288
      ],
      "webhookId": "c424f12c-ed1f-4fb6-b048-2c7e34a137a4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-inference.huggingface.co/models/{{ $json.hf_model }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "huggingFaceApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"inputs\": \"{{ $json.prompt }}\",\n  \"parameters\": {\n    \"max_length\": 500,\n    \"temperature\": 0.7,\n    \"do_sample\": true\n  }\n}",
        "options": {}
      },
      "id": "68d611f5-60f5-4c88-8c91-3c0ebfb3857d",
      "name": "Call Hugging Face",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        208,
        288
      ],
      "credentials": {
        "huggingFaceApi": {
          "id": "FgQ7RyAOsPuyxhJJ",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"mistral\",\n  \"prompt\": \"{{ $json.prompt }}\",\n  \"stream\": false\n}",
        "options": {}
      },
      "id": "0936ab3d-aa91-40f2-8f91-45a4eb00ed2f",
      "name": "Call Ollama (Default)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        208,
        480
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prompt-assignment",
              "name": "prompt",
              "value": "={{ $json.body.prompt || $json.prompt }}",
              "type": "string"
            },
            {
              "id": "model-assignment",
              "name": "model",
              "value": "={{ $json.body.model || $json.model }}",
              "type": "string"
            },
            {
              "id": "hf-model-assignment",
              "name": "hf_model",
              "value": "={{ $json.body.hf_model || $json.hf_model || 'microsoft/DialoGPT-medium' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "09ec4fae-6406-473c-a60d-8d4b076a45d7",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -912,
        192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"gpt-3.5-turbo\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.prompt }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "15568ce3-6d0f-4c66-864e-c1bc2c220f5c",
      "name": "Call OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        208,
        -96
      ],
      "credentials": {
        "openAiApi": {
          "id": "xhNrRCTywP5VKQe6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extrahiere die Antwort je nach API\nconst data = $input.first().json;\nconst modelUsed = $('Edit Fields').first().json.model;\n\nlet result;\nlet provider;\n\n// OpenAI Format\nif (data && data.choices && data.choices[0] && data.choices[0].message) {\n  result = data.choices[0].message.content;\n  provider = 'OpenAI';\n} \n// Claude/Anthropic Format\nelse if (data && data.content && Array.isArray(data.content) && data.content[0]) {\n  result = data.content[0].text || data.content[0].content;\n  provider = 'Claude/Anthropic';\n}\n// Hugging Face Format (Array response)\nelse if (Array.isArray(data) && data[0] && data[0].generated_text) {\n  result = data[0].generated_text;\n  provider = 'Hugging Face';\n}\n// Hugging Face Format (Single object)\nelse if (data && data.generated_text) {\n  result = data.generated_text;\n  provider = 'Hugging Face';\n}\n// Ollama Format\nelse if (data && data.response) {\n  result = data.response;\n  provider = 'Ollama';\n}\n// Ollama alternative Formate\nelse if (data && data.message) {\n  result = data.message;\n  provider = 'Ollama';\n}\n// Fallback\nelse {\n  result = JSON.stringify(data);\n  provider = 'Unknown';\n}\n\n// Bereinige die Antwort (entferne Input-Prompt bei HF wenn vorhanden)\nif (provider === 'Hugging Face' && result) {\n  const originalPrompt = $('Edit Fields').first().json.prompt;\n  if (result.startsWith(originalPrompt)) {\n    result = result.substring(originalPrompt.length).trim();\n  }\n}\n\nreturn {\n  result: result,\n  status: 'success',\n  provider: provider,\n  model_requested: modelUsed,\n  timestamp: new Date().toISOString(),\n  raw_response: data\n};"
      },
      "id": "35cfe965-0c49-4162-afd5-05dd098be61a",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        192
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "a553ceef-3663-4f53-ac3c-c812d919a1a1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        656,
        192
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "connection": "upgrade",
            "host": "ai.local",
            "x-real-ip": "10.10.10.64",
            "x-forwarded-for": "10.10.10.64",
            "x-forwarded-proto": "https",
            "content-length": "89",
            "authorization": "Basic YWRtaW46c3VwZXJzZWN1cmU=",
            "user-agent": "curl/8.7.1",
            "accept": "*/*",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "prompt": "Was ist der Unterschied zwischen KI und ML?",
            "model": "openai"
          },
          "webhookUrl": "http://localhost:5678/webhook/llm",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is OpenAI?": {
      "main": [
        [
          {
            "node": "Wait OpenAI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Claude?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Claude?": {
      "main": [
        [
          {
            "node": "Wait Claude",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is HuggingFace?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is HuggingFace?": {
      "main": [
        [
          {
            "node": "Wait HF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Ollama (Default)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait OpenAI": {
      "main": [
        [
          {
            "node": "Call OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Claude": {
      "main": [
        [
          {
            "node": "Call Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait HF": {
      "main": [
        [
          {
            "node": "Call Hugging Face",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Hugging Face": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Ollama (Default)": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Is OpenAI?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenAI": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3ef0cbd6-00c0-4ead-9bdc-6093b1d67568",
  "meta": {
    "instanceId": "30444c4554305610e68ba60c6b73ce53f99b718ba25dfadc743e41cecea4e148"
  },
  "id": "FeCWSJLLfuV4gxW4",
  "tags": []
}