n8n-workflow/prompt-routing.json
{
  "name": "Prompt-Routing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prompt"
      },
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "functionCode": "const body = items[0].body;\nconst prompt = body.prompt;\nconst model = body.model;\nconst openai_api_key = body.openai_api_key || null;\n\nif (!prompt || !model) {\n  throw new Error('prompt and model required');\n}\n\nreturn [{ json: { prompt, model, openai_api_key } }];"
      },
      "id": "InputCheck",
      "name": "Input Check",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "functionCode": "return [\n  items[0].json.model === 'openai' ? { json: items[0].json } : null,\n  items[0].json.model === 'ollama' ? { json: items[0].json } : null\n];"
      },
      "id": "Router",
      "name": "Router",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "jsonParameters": true,
        "options": {
          "headers": [
            {
              "name": "Authorization",
              "value": "Bearer {{$json.openai_api_key}}"
            }
          ]
        },
        "bodyParametersJson": "{\"model\": \"gpt-4\", \"messages\": [{\"role\": \"user\", \"content\": \"={{$json.prompt}}\"}]}"
      },
      "id": "CallOpenAI",
      "name": "Call OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [700, 200]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://ollama:11434/api/generate",
        "jsonParameters": true,
        "bodyParametersJson": "{ \"model\": \"mistral\", \"prompt\": \"={{$json.prompt}}\" }"
      },
      "id": "CallOllama",
      "name": "Call Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [700, 400]
    },
    {
      "parameters": {
        "functionCode": "return [{ json: { result: $json } }];"
      },
      "id": "WrapResponse",
      "name": "Wrap Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Input Check", "type": "main", "index": 0 }]]
    },
    "Input Check": {
      "main": [[{ "node": "Router", "type": "main", "index": 0 }]]
    },
    "Router": {
      "main": [
        [{ "node": "Call OpenAI", "type": "main", "index": 0 }],
        [{ "node": "Call Ollama", "type": "main", "index": 0 }]
      ]
    },
    "Call OpenAI": {
      "main": [[{ "node": "Wrap Response", "type": "main", "index": 0 }]]
    },
    "Call Ollama": {
      "main": [[{ "node": "Wrap Response", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "v1"
}
